{
  "cachesDir": "Y:\\caches",
  "disableReboots": true,
  "downloadsDir": "Y:\\downloads",
  "livelogCertificate": "C:\\generic-worker\\livelog.crt",
  "livelogExecutable": "C:\\generic-worker\\livelog.exe",
  "livelogKey": "C:\\generic-worker\\livelog.key",
  "numberOfTasksToRun": 0,
  "sentryProject": "generic-worker",
  "shutdownMachineOnInternalError": true,
  "signingKeyLocation": "C:\\generic-worker\\cot.key",
  "subdomain": "taskcluster-worker.net",
  "tasksDir": "Z:\\"
}
