{
  "cachesDir": "Z:\\caches",
  "cleanUpTaskDirs": true,
  "disableReboots": true,
  "downloadsDir": "Z:\\downloads",
  "livelogExecutable": "C:\\generic-worker\\livelog.exe",
  "livelogPUTPort": 60022,
  "numberOfTasksToRun": 0,
  "runAfterUserCreation": "C:\\generic-worker\\task-user-init.cmd",
  "sentryProject": "generic-worker",
  "shutdownMachineOnIdle": false,
  "shutdownMachineOnInternalError": true,
  "signingKeyLocation": "C:\\generic-worker\\cot.key",
  "taskclusterProxyExecutable": "C:\\generic-worker\\taskcluster-proxy.exe",
  "taskclusterProxyPort": 80,
  "tasksDir": "Z:\\",
  "wstAudience": "taskcluster-net",
  "wstServerURL": "https://websocktunnel.tasks.build"
}
