{
  "cachesDir": "Z:\\caches",
  "cleanUpTaskDirs": true,
  "disableReboots": true,
  "downloadsDir": "Z:\\downloads",
  "livelogCertificate": "C:\\generic-worker\\livelog.crt",
  "livelogExecutable": "C:\\generic-worker\\livelog.exe",
  "livelogGETPort": 60023,
  "livelogKey": "C:\\generic-worker\\livelog.key",
  "livelogPUTPort": 60022,
  "numberOfTasksToRun": 0,
  "runAfterUserCreation": "C:\\generic-worker\\task-user-init.cmd",
  "sentryProject": "generic-worker",
  "shutdownMachineOnIdle": false,
  "shutdownMachineOnInternalError": true,
  "signingKeyLocation": "C:\\generic-worker\\cot.key",
  "subdomain": "taskcluster-worker.net",
  "taskclusterProxyExecutable": "C:\\generic-worker\\taskcluster-proxy.exe",
  "taskclusterProxyPort": 80,
  "tasksDir": "Z:\\"
}
